BancaElectronica-web/src/wsdl/localhost_8080/ExternoWS/externo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://banco.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://banco.com/">

<xs:element name="transferir" type="tns:transferir"/>

<xs:element name="transferirResponse" type="tns:transferirResponse"/>

<xs:complexType name="transferir">
<xs:sequence>
<xs:element name="Transaccion" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaccion">
<xs:sequence>
<xs:element name="banco" type="xs:string" minOccurs="0"/>
<xs:element name="concepto" type="xs:string" minOccurs="0"/>
<xs:element name="cuentaDestino" type="xs:string" minOccurs="0"/>
<xs:element name="cuentaOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="identificacion" type="xs:string" minOccurs="0"/>
<xs:element name="monto" type="xs:double"/>
<xs:element name="tipoCuenta" type="xs:string" minOccurs="0"/>
<xs:element name="tipoIdentificacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferirResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>