BancaElectronica-web/src/wsdl/192.168.0.196_9090/Modulo-Cuentas-Pll-web/TransferenciaWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.soap.arquitectura.espe.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.soap.arquitectura.espe.edu.ec/">

<xs:element name="Historico" type="tns:Historico"/>

<xs:element name="HistoricoResponse" type="tns:HistoricoResponse"/>

<xs:element name="Transferencia" type="tns:Transferencia"/>

<xs:element name="TransferenciaResponse" type="tns:TransferenciaResponse"/>

<xs:complexType name="Transferencia">
<xs:sequence>
<xs:element name="origen" type="xs:string" minOccurs="0"/>
<xs:element name="destino" type="xs:string" minOccurs="0"/>
<xs:element name="monto" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransferenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Historico">
<xs:sequence>
<xs:element name="cuenta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HistoricoResponse">
<xs:sequence>
<xs:element name="return" type="tns:tranfBancaHistoricoRQ" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tranfBancaHistoricoRQ">
<xs:sequence>
<xs:element name="concepto" type="xs:string" minOccurs="0"/>
<xs:element name="cuentaDestino" type="xs:string" minOccurs="0"/>
<xs:element name="documento" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="saldo" type="xs:double"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>